# 定义数据卷（持久化 PostgreSQL 数据）
volumes:
  dev-postgres-data: # 存储 PostgreSQL 数据的卷
  gin-logs:
  grafana-data:


services:
  postgres:
    image: postgres:18-alpine
    container_name: dev-postgres
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: dev_db
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - dev-postgres-data:/var/lib/postgresql/data/pgdata
    entrypoint: |
      sh -c '
        mkdir -p /var/lib/postgresql/data/pgdata
        chown -R postgres:postgres /var/lib/postgresql/data
        exec docker-entrypoint.sh postgres
      '
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d dev_db" ]
      interval: 5s
      timeout: 5s
      retries: 5

  go-app:
    build: .
    container_name: dev-go-app
    ports:
      - "8080:8080"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    volumes:
      - gin-logs:/var/log/gin
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: dev_db
      GIN_MODE: release
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped

  # 3. Fluent Bit 日志采集服务
  fluent-bit:
    image: fluent/fluent-bit
    container_name: fluent-bit
    user: root
    volumes:
      - ./fluent-bit.conf:/fluent-bit/etc/fluent-bit.conf:ro
      - ./parsers.conf:/fluent-bit/etc/parsers.conf:ro
      - gin-logs:/var/log/gin:ro
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    depends_on:
      postgres:
        condition: service_healthy

  # 4. Grafana 可视化服务
  grafana:
    image: grafana/grafana:10.2.2
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana-data:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - postgres
